body {
	background: #222;
	font-family: Tahoma;
	padding-bottom: 100px;
}
h1 {
	text-align: center;
	margin-top: 100px;
	color: #fff;
}
.slider-wrap {
	width: 1200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	position: relative;
}
.slider-container {
	overflow: hidden;
	margin: auto;
	position: relative;
}
.slides {
	height: 650px;
	position: relative;
}
.slide {
	float: left;
	width: 1200px;
	height: 650px;
	overflow: hidden;
	position: relative;
}
.slider-wrap2 {
	width: 1000px;
}
.slider-wrap2 .slides {
	height: 500px;
}
.slider-wrap2 .slide {
	width: 1000px;
	height: 500px;
}
.slide img {
	width: 100%;
	height: 100%;
}
/* prev - next */
.btn-prev {
	position: absolute;
	left: -23px;
	top: 50%;
	margin-top: -80px;
	width: 46px;
	height: 95px;
	background: url(../img/arrows.png);
	border-radius: 0 100% 100% 0;
	background-position: 0 -95px;
}
.btn-prev:hover {
	background-position: 0 0;
}
.btn-next {
	position: absolute;
	right: -24px;
	top: 50%;
	margin-top: -80px;
	width: 46px;
	height: 95px;
	background: url(../img/arrows.png);
	background-position: -45px -95px;
}
.btn-next:hover {
	background-position: -45px 0;
}
/* paginatiob */
.pagination {
	text-align: center;
	padding-left: 0;
}
.pagination li {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-left: 4px;
	margin-right: 8px;
	background: #666;
	cursor: pointer;
	box-shadow: inset -1px -1px #555;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.pagination li.active,
.pagination li:hover {
	background: #C5C5C5;
}

.animate {
	background: rgba(0,0,0,.7);
	height: 100px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -100px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.active .animate {
	-webkit-animation-name: animate;
	-o-animation-name: animate;
	animation-name: animate;
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	bottom: 0;
}
@-webkit-keyframes animate {
	0% {
		bottom: -100px;
	}
	100% {
		bottom: 0;
	}
}
